*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-family: 'Roboto Mono', monospace;
    --font-size: 16px;
    --primary-color: ;
    --main-background-color:rgb(220, 230, 232) ;
    --card-border-color: rgb(242, 178, 114);
    --card-background-color: rgb(247, 245, 245);
    --sideBarColor: #0ea5e9;
    --sideBar-width: 250px;
    --text-primary: black;
    --text-secondary: white;
}

.container{
    display: grid;
    grid-template-areas: "sidebar navbar navbar navbar"
        "sidebar main main main";
    grid-template-columns: 250px repeat(3, 1fr);
    grid-template-rows: 100px, 4fr;
    background-color: var(--main-background-color);
}
.navbar{
    grid-area: navbar;
    position: sticky;
    top: 0;
    background-color: var(--card-background-color);
    border-bottom: 2px solid rgb(219,219,219);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: .4rem 10px;
}
.topNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem 1rem;
    
}
.topNav .search{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.search > input[type="text"]{
    border: none;
    border-radius: 50px;
    background-color: var(--main-background-color);
    padding: 5px 10px;
    width: 40vw;
    margin-left: 10px;
}
.account{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.account > .menuIcon{
    margin-right: 10px;
}
.account > .avatar{
    margin-right: 10px;
}
.account > p {
    font-size: 1rem;
    font-weight: bold;
}

.bottomNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    line-height: 1.5;
}
.bottomNav > .profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottomNav > .profile > .avatar > img{
    width: 3rem;
    height: 3rem;
    margin-right: 5px;
}
.name, .username{
    font-size: 1rem;
    font-weight: bold;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.buttons > .btn{
    color: var(--text-secondary);
    background-color: var(--sideBarColor);
    border: none;
    font-size: .9rem;
    padding: .5rem 1.5rem;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 10px;
}
.buttons > .btn:last-of-type{
    margin-right: 0;
}
.sidebar{
    grid-area: sidebar;
    background-color: var(--sideBarColor);
    width: 250px;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    padding: 10px;
}
.menuitem{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menuitem > *{
    cursor: pointer;
}
.menuitem > a{
    text-decoration: none;
    color: var(--text-secondary);
    font-family: var(--font-family);
    font-size: 1.2rem;
    font-weight: 900;
    padding-top: 15px;
    margin-left: 5px;
}
.menuitem > a > img{
    margin-right: 20px;
}
.dashboard > a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 900;
}
.dashboard > a > img{
    height: 50px;
    width: 50px;
}


.main{
    grid-area: main;
    grid-row: span 2;
    background-color: var(--main-background-color);
    display: grid;
    grid-template-columns: 1fr .49fr;
    gap: 16px;
    padding: 32px;
}

.projects {
    grid-row: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 32px repeat(3, 1fr);
    gap: 16px;
}
 .projects > .header {
    grid-column: span 2;
}
.announcements {
    display: grid;
    grid-template-rows: 32px 1fr;
    gap: 16px;
}
.cards {
    display: grid;
}
 
.card{
    border-radius: 4px;
    background-color: var(--card-background-color);
    box-shadow: 4px 4px 4px rgb(196, 202, 204);
    padding: 20px;
}
.card h2 {
    font-size: large;
}
.projects > .card{
    border-left: 6px solid var(--card-border-color);
}
.trending {
    display: grid;
}