*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    --primary-color: ;
    --main-background-color:rgb(220, 230, 232) ;
    --card-border-color: rgb(242, 178, 114);
    --card-background-color: rgb(247, 245, 245);
}

.container{
    display: grid;
    grid-template-areas: "sidebar navbar navbar navbar"
        "sidebar main main main";
    grid-template-columns: 0.4fr repeat(3, 1fr);
    grid-template-rows: 100px, 4fr;
}
.navbar{
    grid-area: navbar;
}

.sidebar{
    grid-area: sidebar;
}

.main{
    grid-area: main;
    background-color: var(--main-background-color);
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 16px;
    gap: 16PX;
}

.projects > .card-container > .card{
    padding: 20px;
    border-left: 6px solid var(--card-border-color);
    border-radius: 4px;
    background-color: var(--card-background-color);
    box-shadow: 4px 4px 4px rgb(196, 202, 204);
}